      body
      {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      header
      {
        background-color: #333;
        color: #FFF;
        font-size: 50px;
        text-align: center;
        padding: 20px 0;
      }

      header:hover{
        -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        box-shadow: 0 12px 16px 0 rgba(0,255,255,0.24), 0 17px 50px 0 rgba(0,255,255,0.19);
      }

      .navication
      {
        background-color: #DDD;
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
      }
      
       ul {
          list-style: none;
          padding: 0;
          margin: 0;
      }

      ul li{
          display: inline-block;
          margin: 0px 10px;
      }

      ul li a{

          text-decoration: none;
      }
      
      ul li a:link,
      ul li a:active,
      ul li a:hover,
      ul li a:visited
      {color: #676767;}

      ul li a:hover{
          border: none;
          padding: 20px 20px 10px 20px;
          -webkit-transition-duration: 0.4s; /* Safari */
              transition-duration: 0.4s;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      .navicationh
      {
       display: inline;
      }
    .main{
        text-align: center;
        padding: 10px;
        color: white;
        background-image: url("https://raw.githubusercontent.com/yucefsourani/yucefsourani.github.io/master/images/website-design-slider-background-stockton.jpg");
        /*background-image: url("images.jpg");*/

    } 

    footer
      {
        background-color: #DDD;
        color: #676767;
        text-align: center;
        padding: 15px 0;
      }
      img{
        width: 400px;
        height: 200px;
      }

      img:hover{
        width: 600px;
        height: 400px;
        -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        box-shadow: 0 12px 16px 0 rgba(0,255,255,0.24), 0 17px 50px 0 rgba(0,255,255,0.19);
      }

      .p_main{
        background-color: white;
        color: black;
        padding: 5px 0px;
        border-left:4px solid red;
        margin: 10px auto;
        width: 35%;
        word-break: break-all;
        white-space: normal;

      }

      .p_main:hover{
        width: 50%;
        -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        box-shadow: 0 12px 16px 0 rgba(0,255,255,0.24), 0 17px 50px 0 rgba(0,255,255,0.19);
      }
